.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

.layout-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.layout-footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Media queries for small devices */
@media (max-width: 600px) {
    .layout-header {
        padding: 10px;
        font-size: 1.2em;
    }

    .layout-content {
        padding: 10px;
        flex-direction: column;
    }

    .layout-footer {
        padding: 5px;
        font-size: 0.8em;
    }

    .sudoku-container {
        width: 100%;
        max-width: 100%;
    }

    .numpad-button {
        width: 30px;
        height: 30px;
        font-size: 1.2em;
    }

    .Button-container .btn {
        padding: 5px 10px;
        font-size: 1em;
    }
}