.numpad-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.numpad-button {
  width: 60px;
  height: 60px;
  font-size: 2em;
  text-align: center;
  border: none; /* Remove border */
  background-color: transparent; /* Make background transparent */
  color: #ffffff; /* Set text color */
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  font-weight: 700; /* Use bold weight */
}


.numpad-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Add slight background on hover */
}
@media (max-width: 600px) {
  .numpad-container {
    max-width: 100%;
  }

  .numpad-button {
    width: 22%;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .numpad-button {
    width: 30%;
    font-size: 1rem;
  }
}