:root {
    --cell-size: 60px;
    --font-size: calc(var(--cell-size) * 0.5);
}

.sudoku-page {
    text-align: center;
    padding: 20px;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2px;
    max-width: calc(var(--cell-size) * 9);
    margin: 0 auto;
}

.sudoku-row {
    display: contents;
}

.sudoku-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
    font-size: var(--font-size);
    border: 1px solid #ccc;
}

/* Highlight 3x3 subgrids */
.sudoku-cell:nth-child(3n+1) {
    border-left: 2px solid #000;
}

.sudoku-cell:nth-child(3n) {
    border-right: 2px solid #000;
}

.sudoku-row:nth-child(3n+1) .sudoku-cell {
    border-top: 2px solid #000;
}

.sudoku-row:nth-child(3n) .sudoku-cell {
    border-bottom: 2px solid #000;
}

.sudoku-cell:focus {
    outline: none;
    background-color: #54c9ff;
}

/* Highlighting styles */
.sudoku-cell.selected {
    background-color: #54c9ff;
}

.sudoku-cell.highlight-row:not(.selected) {
    background-color: #fffed3;
}

.sudoku-cell.highlight-col:not(.selected) {
    background-color: #fffed3;
}

.sudoku-cell.highlight-block:not(.selected) {
    background-color: #fffed3;
}

.sudoku-cell.highlight-same-number:not(.selected) {
    background-color: #ffeb3b;
}

/* New styles for center-container and sudoku-container */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.sudoku-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Adjust this value as needed */
  margin: 0 auto;
}
.mistakes-container {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
}

.mistakes-container:hover {
  transform: scale(1.1);
  background-color: darkred;
}
/* Media queries for small devices */
@media (max-width: 600px) {
    :root {
        --cell-size: 40px;
        --font-size: calc(var(--cell-size) * 0.5);
    }

    .sudoku-grid {
        max-width: calc(var(--cell-size) * 9);
    }

    .center-container {
        padding: 10px;
    }

    .sudoku-container {
        max-width: 100%;
    }
}