.sudoku-page {
    text-align: center;
    padding: 20px;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2px;
    max-width: 540;
    margin: 0 auto;
}

.sudoku-row {
    display: contents;
}

.sudoku-cell {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #ccc;
}

/* Highlight 3x3 subgrids */
.sudoku-cell:nth-child(3n+1) {
    border-left: 2px solid #000;
}

.sudoku-cell:nth-child(3n) {
    border-right: 2px solid #000;
}

.sudoku-row:nth-child(3n+1) .sudoku-cell {
    border-top: 2px solid #000;
}

.sudoku-row:nth-child(3n) .sudoku-cell {
    border-bottom: 2px solid #000;
}
.sudoku-cell:focus {
    outline: none;
    background-color: #54c9ff;

}
/* Media Queries for Responsive Design */
@media (max-width: 650px) {
    .sudoku-cell {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .sudoku-cell {
        font-size: 0.6em;
    }
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.num-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.num-button {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.num-button:hover {
    background-color: #f0f0f0;
}